body {
    background-color: grey;
}
h1 {
    text-transform: uppercase;
}
.project {
    color: black;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: 'Libre Baskerville', serif;
}
.project-img {
    border: 5px solid lightgray;
    width: 100%
}
footer {
    text-align:right;
    background-color: lightgray;
    color: blueviolet;
}